# SingleStore HTTP Client for JavaScript
# (@singlestore/http-client)

{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

{{#infoUrl}}
For more information, please visit [{{{infoUrl}}}]({{{infoUrl}}}).
{{/infoUrl}}


## Installation

### npm ([Node.js](https://nodejs.org/))

This client is designed to be deployed using [npm](https://www.npmjs.com/).  You can use the `npm` command to automatically install it into your project from the hosted site, as follows:

```shell
npm install @singlestore/http-client
```

## Example

This package contains an [example.js](example.js) file that explains how to use the SingleStore HTTP Client for JavaScript.  The instructions at the top explain how to run it.  Included are a basic example and several extended examples.  The basic example will show you how to get started quickly with a few lines of code.  The extended examples build on the basic one and illustrate other API calls and usage.

## API Endpoints

All URIs are relative to *{{basePath}}*

Class | Method | HTTP request | Description
------------ | ------------- | ------------- | -------------
{{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}*{{moduleName}}.{{classname}}* | [**{{operationId}}**]({{apiDocPath}}{{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{summary}}
{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}

## Models

{{#models}}{{#model}} - [{{moduleName}}.{{classname}}]({{modelDocPath}}{{classname}}.md)
{{/model}}{{/models}}

## Authorization

{{^authMethods}}
All endpoints do not require authorization.
{{/authMethods}}
{{#authMethods}}
{{#last}} Authentication schemes defined for the API:{{/last}}

### {{name}}

{{#isApiKey}}

- **Type**: API key
- **API key parameter name**: {{keyParamName}}
- **Location**: {{#isKeyInQuery}}URL query string{{/isKeyInQuery}}{{#isKeyInHeader}}HTTP header{{/isKeyInHeader}}
{{/isApiKey}}
{{#isBasic}}
{{#isBasicBasic}}

- **Type**: HTTP basic authentication
{{/isBasicBasic}}
{{#isBasicBearer}}

- **Type**: Bearer authentication{{#bearerFormat}} ({{{.}}}){{/bearerFormat}}
{{/isBasicBearer}}
{{/isBasic}}
{{#isOAuth}}

- **Type**: OAuth
- **Flow**: {{flow}}
- **Authorization URL**: {{authorizationUrl}}
- **Scopes**: {{^scopes}}N/A{{/scopes}}
{{#scopes}}  - {{scope}}: {{description}}
{{/scopes}}
{{/isOAuth}}

{{/authMethods}}

## Known Issues

The `/api/v1/spec` endpoint is included in the API, but is not accessible yet in SingleStore, and will return a 404. It will be available soon. In the meantime the [OpenAPI 3.0](https://github.com/singlestore-labs/http-client-js/blob/main/openapi3.yaml) spec can be downloaded from this repository.

## About this package

This JavaScript package was automatically generated by the [OpenAPI Generator](https://openapi-generator.tech) project, with some custom templating:

- API version: {{appVersion}}
{{#artifactVersion}}
    - Package version: `{{.}}`
{{/artifactVersion}}
{{^hideGenerationTimestamp}}
- Build date: {{generatedDate}}
{{/hideGenerationTimestamp}}
- Build package: {{generatorClass}}

